@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
} 

.main {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: teal;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-size: 26px;
}

.topbar p {
    color: whitesmoke;
    float: right;
    margin-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 26px;
}

.sidebar {
    background-color: #227C70;
    color: #333;
    height: 96%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.sidebar p {
    margin-left: 10px;
    display: block;
    color: #333;
    padding-bottom: 20px;
    font-size: 25px;
    text-decoration: none;
}

.sidebar i {
    color: aqua;
    font-size: 20px;
}

.sidebar button {
    background-color: #227C70;
    color: white;
    border: none;
    margin: 0px 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.sidebar button:active {
    transform: scale(0.5px);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}
.content {
    background-color: whitesmoke;
}