@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#wrapper {
    width: 450px;
    min-height: 750px;
    background: #181D31;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px 5px;
}

.header i {
    font-size: 24px;
}

.info {
    min-height: 50px;
}

.info .avartar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    border: 5px solid #EAE7B1;
}

.info img {
    max-width: 100%;
}

.info .name {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.info .name i {
    color: aqua;
    font-size: 20px;
}

.analyst {
    width: 80%;
    height: 70px;
    margin: 0px auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #fff;
}

.analyst li {
    width: calc(100%/3 - 5px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analyst li p:first-child {
    font-size: 15px;
    color: #fff;
}

.actions {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.actions .edit, .actions .contact {
    width: 150px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.actions .contact {
	background: linear-gradient(to right, #227C70, #88A47C);
}
.actions .edit {
	background: linear-gradient(to right, #227C70, #88A47C);
}

.user {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.user-info{
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin: 10px auto;
    color: #fff;
}

.user-info input {
    width: 320px;
    padding: 12px 10px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.eye {
    position: absolute;
    margin: 0px 5px;
    left: 61%;
    top: 59%;
    color: #000;
}

.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.footer .footer-menu li:hover {
    color: aqua;
}

.header, .info, .actions {
    padding: 10px 20px;
}