<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profiles</title>

    <link rel="stylesheet" type="text/css" href="/css/profiles.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>
  <body>
    <div id="wrapper">
      <div class="header">
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-bars"></i>
      </div>
      <div class="info">
        <div class="avartar">
          <img src="https://i.imgur.com/Bqi5Vl2.png" />
        </div>
        <div class="name">
          <p>Khoa học Tự nhiên
            <i class="fas fa-check-circle"></i>
          </p>
        </div>
      </div>
      <div class="actions">
        <div class="edit">Edit profile
        </div>
        <div class="contact">Purchased</div>
      </div>
      
      <div class="user">
        <form action="" id="info">
          <div class = "user-info">
            <i class="fas fa-user-alt"></i>
            <input type="text" class="lname" placeholder="Thiên" />
          </div>
          <div class = "user-info">
            <i class="fa fa-envelope"></i>
            <input type="text" class="lname" placeholder="abd@gmail.com" />
          </div>
          <div class = "user-info">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="Password" />
            <div class="eye">
              <i class = "fa fa-eye"></i>
            </div>
          </div>
        </form>
      </div>

      <div class="footer">
        <ul class="footer-menu">
          <li>
            <i class="fas fa-home"></i>
          </li>
          <li>
            <i class="fas fa-search"></i>
          </li>
          <li>
            <i class="fas fa-plus"></i>
          </li>
          <li>
            <i class="far fa-bell"></i>
          </li>
          <li>
            <i class="fas fa-chart-line"></i>
          </li>

        </ul>
      </div>
    </div>
  </body>
<script src="/js/profiles.js"></script>
</html>